{% extends "blog/base.html" %}
{% block content %}
    <h1>Upcoming Events</h1>
<h3> July 21st - IFBBJ DC Open - Landover, MD</h3>
<p> I'll be competing in my second open tournament. I took 2nd at the spring open I have my eye on the gold this month. The team's been working hard. I'm looking forward to us taking home all the hardware. </p>
<p></p>
<p></p>
<h3> July 26th-28th - Ashville, NC trip</h3>
<p>The long promised weekend in Ashville is finally happening! Jess and I will be meeting up with my sister and brother-in-law for a weekend of family time, bluegrass and breweries. Trip itinery to be posted soon! </p>
<p></p>
{% endblock content %}




